0 0 * * * /bin/bash /app/backup.sh --mode p >> /var/log/cron.log 2>&1
30 0 * * * /bin/bash /app/backup.sh --mode a >> /var/log/cron.log 2>&1
0 1 * * * /bin/bash /app/sweeper.sh >> /var/log/cron.log 2>&1
